body {
    margin: 0;
    background: no-repeat center center fixed;
    background-size: cover;
}

body.thunderstorm{
    background-image: url(./images/lightning.gif);
}


body.drizzle{
    background-image: url(./images/drizzle.gif);
}

body.rain{
    background-image: url(./images/rain.gif);
}

body.snow{
    background-image: url(./images/snow.gif);
}

body.atmosphere{
    background-image: url(./images/fog.gif);
}

body.clear{
    background-image: url(./images/clear.webp);
}

body.clouds{
    background-image: url(./images/clouds.gif);
}

body, input, button {
    font-family:'Montserrat', sans-serif;
}

.positioning {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 100vh;
    padding-left: 200px;
}

.container {
    padding: 40px;
    border-radius: 40px;
    color: white;
    background-color: rgba(0,0,0,0.4);
    font-size: 2rem;
}

.horiContainer {
    display: flex;
    align-items: center;
}

.vertContainer {
    display: flex;
    flex-direction: column;
}

.subWrapper {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.gap {
    gap: 20px;
}

.inputContainer {
    display: flex;
    gap: 20px;
}

input#location {
    flex: 1 1 auto;
    background-color: rgba(0,0,0,0.4);
    color: white;
    border: 0px;
    border-radius: 20px;
    height: 40px;
    padding-left: 40px;
}

input::placeholder {
    color: white;
}

input:focus {
    outline: 1px solid white;
}

button {
    border-radius: 20px;
    border: 0px;
    padding: 0px 20px 0px 20px;
    background-color: rgba(255,255,255,0.8);
}

#temperature {
    font-size: 6rem;
}

#divider {
    height: 160px;
    width: 2px;
    background-color: white;
    margin-left: 40px;
}