body {
    margin: 0;
    background: url(./images/clear.webp) no-repeat center center fixed;
    background-size: cover;
    font-family:'Montserrat', sans-serif;
}

.positioning {
    display: flex;
    align-items: center;
    height: 100vh;
    padding-left: 200px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 40px;
    color: white;
    background-color: rgba(0,0,0,0.4);
    font-size: 2rem;
}